/*
Personality Type: Playful Fun (#7)
  - round and creative typography
  - sans-serif fonts
  - handwritten fonts

  - frequent use of colors
  - bright colors in background, text, and images

  - subtle shadows are used

  - border-radius is common

  - use icons

  ////////////////////////////////////////////////////////////

  **** TYPOGRAPHY ****
    font-size:
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    font-weight:
      400 (default)
      500
      700

    line heights:
      1 (Default)
      1.05
      1.2
      1.8
      1.6 (Paragraph default)

  letter-spacing:
    -0.5px
    0.75px
    1.2px


  **** COLORS ****
  https://coolors.co/palette/ffbe0b-fb5607-ff006e-8338ec-3a86ff

  Main
    (primary)
    #FFBE0B
    (tints)
    #ffcb3c
    #ffd86d
    #fff2ce
    #fff9e7
    (shades)
    #cc9809
    #b38508
    #332602
    (accents)

  Secondary (30%, 70%)
    (primary)
    #FB5607
    (tints)
    #feccb5
    #fc8951
    (shades)
    #c94506
    #4b1a02
    (accents)

  Tertiary
    (primary)
    #FF006E
    (tints)
    #ffb3d4
    #ff4d9a
    (shades)
    #b3004d
    #4c0021
    (accents)

  Quadriary
    (primary)
    #8338EC
    (tints)
    #dac3f9
    #a874f2
    (shades)
    #5c27a5
    #271147
    (accents)


  Cinquetiary
    (primary)
    #3A86FF
    (tints)
    #c4dbff
    #619eff
    (shades)
    #295eb3
    #11284c
    (accents)


  Greys:
    #888
    #767676
    #6f6f6f
    #555
    #333




  **** BORDER RADIUS ****
    9px (default)
    11px (medium)


  **** WHITESPACE ****
    spacing system (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


  **** BOX-SHADOW ****
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #332602;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  background-color: #ffcb3c;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section {
  position: absolute;
  width: 100%;
  transition: all 0.5s;
}

.others .section {
  position: absolute;
}

.section-content {
  min-height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  background-color: #ffcb3c;
  transition: all 0.25s;
  border-bottom: 1px solid black;
}

.btn {
  padding: 2.5rem 5rem;
  border-radius: 9px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7f7f7;
  /* transition: all 2.5s; */
}

.hide {
  display: none;
  position: absolute;
}

.hide-alt {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* HOME SCREEN*/

/* .home-screen {
} */

/* .section-content-home {
} */

.brand-box {
  display: flex;
  justify-content: center;
  padding-top: 30rem;
  padding-bottom: 10rem;
  /* background-color: #ffcb3c; */
}

.brand-box-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.bchs-logo-container {
  position: relative;
  z-index: 1;
}

.bchs-logo {
  width: 22rem;
  z-index: 1;
}

.bchs-logo-container::before {
  position: absolute;
  content: "";
  background-color: #33260235;
  width: 200%;
  height: 200%;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bchs-text {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #f7f7f7;
  z-index: 1;
}

.btn-box--home {
  padding-top: 3rem;
  padding-bottom: 10rem;
  /* background-color: #ffd86d; */
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.btn--start {
  background-color: #ff006e;
}

.btn--start:hover {
  background-color: #f7f7f7;
  color: #ff006e;
}

.loading .section-content {
  background-color: #332602;
  background-color: #ffcb3c;
}

/* .loading .btn {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

/*QUESTION SECTION*/
/* .section-question {
  display: none;
  position: absolute;
} */

/* .section-content-question {
} */

.question-container {
  padding: 2.5rem;
  padding-top: 5rem;
}

.question-q-text {
  font-size: 4rem;
  font-weight: 700;
}

.question-answers {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-top: 4.5rem;
}

.question-answers li {
  display: inline-block;
  padding: 2.5rem;
  background-color: #ffd86d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.2rem;
  border-radius: 9px;
}

.question-answers li:hover {
  background-color: #fff9e7;
}

.question-answers li p {
  pointer-events: none;
}

.container-submit {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

.btn--submit {
  margin-top: 11rem;
  background-color: #ffd86d;
  transition: all 1s;
}

.btn--submit:hover {
  background-color: #332602;
  color: #f7f7f7;
}

/* QUESTION NUMBER */
.question-header {
  padding-top: 8rem;
  display: flex;
  justify-content: flex-start;
}

.question-number {
  display: inline-block;
  padding: 0 2rem;
  font-size: 3.2rem;
}

/* EXIT */
.container-exit {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.container-exit a {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  color: #f7f7f7;
  cursor: pointer;
  text-decoration: none;
}

.exit-text {
  font-size: 3.2rem;
  text-transform: lowercase;
  font-weight: 400;
}

.icon-exit {
  height: 3.2rem;
  width: 3.2rem;
}

/*ANSWER SECTION*/

/* .section-answer {
} */

/* .section-content-answer {
} */

.wrong-answer .section-content {
  background-color: #332602;
  color: #f7f7f7;
}

.icon {
  display: block;
  margin: 0 auto;
  padding: 15rem 0 30rem 0;
  height: 30rem;
  width: 30rem;
  color: #f7f7f7;
}

/* .wrong-answer .icon {
  background-color: #332602;
} */

/* OTHERS */

.others {
  /* display: none; */
}

/* THANKS */

.thanks-container {
  padding: 2rem 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks-text {
  display: block;
  color: #f7f7f7;
  font-size: 5rem;
}

/* FINAL SCORE */

.final-score-container {
  padding: 2rem 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-score-text {
  display: block;
  color: #f7f7f7;
  font-size: 5rem;
}

/* SELECTION REQUIRED */

.sr-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.sr-contents {
}

.sr-text {
  font-size: 8rem;
}

.btn--escape {
  background-color: aqua;
}
